name: Build Web & Android

on:
  push:
    branches: [ main ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3

      - uses: actions/setup-java@v3
        with:
          distribution: 'zulu'
          java-version: '17'

      - uses: subosito/flutter-action@v2
        with:
          channel: 'stable'

      - run: flutter pub get

      # PARTE A: WEB
      - name: Build Web
        # IMPORTANTE: Aquí está configurado para tu repo "megapanelAI"
        run: flutter build web --release --base-href "/megapanelAI/" --dart-define=GEMINI_API_KEY=${{ secrets.GEMINI_API_KEY }}

      - name: Deploy Web to GitHub Pages
        uses: peaceiris/actions-gh-pages@v3
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: ./build/web

      # PARTE B: ANDROID
      - name: Build Android APK
        run: flutter build apk --release --dart-define=GEMINI_API_KEY=${{ secrets.GEMINI_API_KEY }}

      - name: Upload APK
        uses: actions/upload-artifact@v4
        with:
          name: mega-panel-app-release
          path: build/app/outputs/flutter-apk/app-release.apk